baseURL = 'https://stackandsignal.com/'
languageCode = 'en-us'
title = 'Stack & Signal'
theme = 'ananke'

[params]
  description = "Projects, thoughts, and random things I'm working on."
  
[menu]
  [[menu.main]]
    name = "About"
    url = "/about/"
    weight = 1
  [[menu.main]]
    name = "Projects"
    url = "/projects/"
    weight = 2
  [[menu.main]]
    name = "Posts"
    url = "/posts/"
    weight = 3